<% include head.html %>

    <div class="ui inverted page grid masthead segment">
        <div class="column">
            <img src="images/cat.png" class="ui medium image">
            <div class="ui transition information visible">
                <h1 class="ui inverted header">
                    行业热度
                </h1>
                <p>寻找热门行业！</p>
            </div>
        </div>
    </div>

    <div class="ui segment">
        <div class="ui select year selection dropdown">
            <input type="hidden" name="gender">
            <div class="default text">选择年份</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="2014">2014</div>
                <div class="item" data-value="2013">2013</div>
            </div>
        </div>

        <div>
            <h2 class="ui header dividing">
                <span class="show year">2014</span>年专利数排名</h2>
            <div class="num rank box">

            </div>
        </div>

        <div>
            <h2 class="ui header dividing">
                <span class="show year">2014</span>年专利增长速度
            </h2>
            <div class="speed rank box">

            </div>
        </div>

    </div>

    <% include foot.html %>
        <script src="/vendor/echarts-all.js"></script>
        <script src="/javascripts/index.js"></script>