<% include head.html %>
    <div class="ui inverted page grid masthead segment">
        <div class="column">
            <img src="images/cat.png" class="ui medium image">
            <div class="ui transition information visible">
                <h1 class="ui inverted header">
                    行业热度
                </h1>
                <p>寻找热门行业！</p>
            </div>
        </div>
    </div>
    <div class="ui" style="margin-top:100px;">
        <div class="two column ui grid">
            <div class="column" style="text-align: center;">
                <a href="/richman" class="ui primary huge button">我是投资人</a>
            </div>
            <div class="column" style="text-align: center;">
                <div class="ui disabled huge button">我是学生</div>
            </div>
        </div>
    </div>